@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P');

.App {
  font-family: 'Open Sans', sans-serif;

  .ui.container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 80em;
    margin: auto;
  }
}
