.IntroSection {
  height: 100vh;
  position: relative;

  .header.text {
    position: relative;
    z-index: 5;
  }

  .header.background {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: white;
    animation: animation 20s infinite;
  }
}
